@import "tailwindcss";

body {
  background-color: #0f0f0f;
  color: white;
  .sidebar {
    overflow-y: auto;
    .side-bar-item {
      cursor: pointer;
      &:hover {
        background-color: #272727;
        border-radius: 10px;
      }
    }
  }
  .categories {
    overflow-x: auto;
    max-width: 80rem;
    scrollbar-width: none;
    white-space: nowrap;
    .category-item {
      display: inline-flex;
      &:hover {
        background-color: #f1f1f157;
      }
      &.active {
        background-color: #ffffff;
        color: #0f0f0f;
      }
    }
  }
}
